{% extends "base.html" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Text To Image</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Pass a Text to get the closest Image..</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="text_input">Enter Text:</label>
                <input type="text" class="form-control" id="text_input" name="text_input">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock body %}
